* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  .contact-us-wrapper{
    min-height: 100vh;
    background-color: black;
  }
  .contact-us {
    background-color: black;
    color: white;
    /* padding: 50px 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;;
  }
  
  .contact-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .contact-description {
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form button {
    padding: 15px;
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form button:hover {
    /* background-color: #333; */
    background-color: white;
    color: black;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-title {
      font-size: 24px;
    }
  
    .contact-description {
      font-size: 14px;
    }
  
    .contact-form input,
    .contact-form textarea {
      padding: 10px;
    }
  
    .contact-form button {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .contact-title {
      font-size: 20px;
    }
  
    .contact-description {
      font-size: 12px;
    }
  
    .contact-form input,
    .contact-form textarea {
      padding: 8px;
    }
  
    .contact-form button {
      padding: 8px;
    }
  }
  