* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuisine-container {
    /* padding: 50px; */
    padding-top: 150px ;
    padding-left: 50px;
    margin-bottom: 30px;
    background-color: black;
}

.cuisine-heading {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.cuisine-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cuisine-card {
    width: 100%; /* Ensure card takes up full width of its grid cell */
    max-width: 400px; /* Increase width to desired size */
    height: 400px; /* Adjust height automatically */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.cuisine-card:hover {
    animation: bounceIn 0.5s;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.6);
    z-index: 2;
}

.card-actions {
    display: flex;
    justify-content: space-between; /* Space out the description and button */
    margin-top: auto;
    padding: 16px; /* Add padding to the card actions area */
}

.cuisine-title {
    text-align: center;
    font-weight: 500;
}

.cuisine-btn {
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px; /* Add some padding */
    border-radius: 0;
    background-color: black !important;
    border: none; /* Remove default border */
    color: white;
    font-weight: lighter;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cuisine-btn:hover {
    background-color: #333;
}

.cuisine-btn p {
    margin: 0;
    color: white;
    font-weight: lighter;
}

@media (max-width: 768px) {
    .cuisine-card-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
